#results {
  background-color: var(--color-white);
}

#results .controls {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  margin-bottom: var(--space-big);
}

#results .feed {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}
