body {
  background-color: var(--color-grey);
  font-family: var(--font-family);
  color: var(--color-navy);
  -webkit-font-smoothing: auto; /* To make text look great on Apple devices */
  font-weight: var(--font-weight);
}

h1,
h2,
p {
  margin-top: 0;
}

h2 {
  font-size: var(--font-size);
  text-transform: uppercase;
  margin-bottom: var(--space-small);
  font-weight: var(--font-weight);
}

p {
  font-size: var(--font-size);
  line-height: 1.5;
}
