body {
  background-color: var(--color-grey);
  font-family: var(--font-family);
  color: var(--color-navy);
  -webkit-font-smoothing: auto; /* To make text look great on Apple devices */
  font-weight: var(--font-weight);
}

h1,
h2,
p {
  margin-top: 0;
}

h1,
h2 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-paragraph);
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-paragraph);
  line-height: 1.5;
}
