.button {
  min-width: 180px;
  height: 62px;
  padding: var(--space-medium);
  background-color: var(--color-white);
  color: var(--color-navy);
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 600;
  transition: background-color 0.35s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-fucsia);
  color: var(--color-white);
}
