.input-field {
  display: block;
}

.input-field input[type="text"] {
  width: 100%;
  height: 62px;
  padding: var(--space-medium);
  color: var(--color-navy);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-paragraph);
}

/* Desktop */
@media (min-width: 750px) {
  .input-field input[type="text"] {
    width: 500px;
  }
}
